body {
  background-color: black;
}

#main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
}

.ryu{
	float: left;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  position: relative;
  top: 169px;
  left: -210px;;
  float: left;
}

.description{
	position: relative;
	float: right;
	clear: right;
	margin-bottom: 60px;
	margin-right: 300px;
	font-family: impact;
	font-size: 50px;
	font-weight: bold;
	width: 30%;
}

.description:first-of-type{
	margin-top: 35px;
}

.description:nth-of-type(2){
	right: -50px;
}

.description:nth-of-type(3){
	right: 100px;
}